@include theme() {
    &footer {
        @include containerFluid;
        background-color: $color-dark-moderate-cyan-footer-background;
        text-align: center;
        padding-inline: 20px;
        padding-top: 60px;

        &__title {
            margin-inline: auto;
            margin-bottom: 30px;
            max-width: 124px;
        }

        &__menu {
            margin-bottom: 60px;

            &-list {
                @include flex(center, center, nowrap);
                column-gap: 40px;
            }

            &-item {
                a {
                    color: $color-dark-moderate-cyan-footer;

                    &:hover {
                        color: $color-dark-desatured-cyan-text;
                    }
                }
            }
        }

        &__social {
            &-list {
                @include flex(center, center, nowrap);
                column-gap: 30px;
            }

            &-item {
                a {
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &__attribution {
            padding-block: 60px 10px;
            font-size: 11px;
            text-align: center;
            color: $color-dark-grayish-blue;

            a {
                color: $color-dark-desatured-cyan-text;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}