.main_header {
    @include absoluteFull;
    @include flex(space-between);
    z-index: 2;

    padding: 20px;

    &_logo {
        h1 {
            display: none;
        }
    }

    &_menu {
        position: relative;

        &_mobileicon {
            font-size: 1.8em;
            color: $color-white;
            cursor: pointer;

            @include setResponsiveDesign(900px) {
                display: none;
            }
        }

        &_list {
            @include absolute(calc(100% + 60px), unset);
            right: 0;
            width: calc(100vw - 40px);

            background-color: $color-white;
            text-align: center;
            padding: 15px 0;
            transform: translateY(-15%);
            opacity: 0;

            @include transition;

            display: none;

            @include setResponsiveDesign(600px) {
                width: 400px;
            }

            @include setResponsiveDesign(900px) {
                width: auto;
                position: static;
                background: none;
                opacity: 1;

                @include flex;
                gap: 40px;
                padding: 0;
            }

            &::before {
                content: "";
                @include absolute(-40px, unset);
                right: 0;
                width: 0;
                height: 0;
                border: 20px solid $color-white;
                border-top-color: transparent;
                border-left-color: transparent;

                @include setResponsiveDesign(900px) {
                    display: none;
                }
            }

            &.active {
                display: block;
            }

            &_item {
                list-style: none;
                margin: 30px 0;
                font-size: 1.1em;

                @include setResponsiveDesign(900px) {
                    margin: 0;
                }

                a {
                    color: $color-dark-grayish-blue;
                    
                    @include setResponsiveDesign(900px) {
                        color: $color-white;
                    }
                }

                &_btn {
                    font-family: $font-fraunces;
                    color: $color-very-dark-desatured-blue !important;
                    text-transform: uppercase;
                    font-size: 0.8em;

                    display: inline-block;
                    padding: 20px 30px;

                    background-color: $color-yellow;

                    @include borderRadius(30px);

                    @include setResponsiveDesign(900px) {
                        background-color: $color-white;
                    }

                    &:hover {
                        background-color: $color-blue-hover;
                        color: $color-white !important;
                    }
                }
            }
        }
    }
}