.main_header {
    @include absoluteFull;
    @include flex(space-between);
    z-index: 2;

    padding: 20px;

    &_logo {
        h1 {
            display: none;
        }
    }

    &_menu {
        position: relative;

        &_mobileicon {
            font-size: 1.8em;
            color: $color-white;
            cursor: pointer;
        }

        &_list {
            @include absolute(calc(100% + 40px), unset);
            right: 0;
            width: calc(100vw - 40px);

            background-color: $color-white;
            text-align: center;
            padding: 15px 0;

            display: none;

            &::before {
                content: "";
                @include absolute(-20px, unset);
                right: -20px;
                width: 0;
                height: 0;
                border: 20px solid $color-white;
                border-bottom-color: transparent;
                border-top-color: transparent;
                border-right-color: transparent;
                transform: rotate(45deg);
            }

            &.active {
                display: block;
            }

            &_item {
                list-style: none;
                margin: 30px 0;
                font-size: 1.1em;

                a {
                    color: $color-dark-grayish-blue;
                }

                &_btn {
                    font-family: $font-fraunces;
                    color: $color-very-dark-desatured-blue !important;
                    text-transform: uppercase;
                    font-size: 0.8em;

                    display: inline-block;
                    padding: 20px 30px;

                    background-color: $color-yellow;

                    @include borderRadius(30px);
                }
            }
        }
    }
}