@include theme() {
    &headline {
        @include containerFluid;
        background-color: $color-blue-background;

        &__wrapper {
            padding-inline: 20px;
            @include flex;
            @include column;
            gap: 70px;

            @include setResponsiveDesign($breakpoint-mobile) {
                gap: 180px;
            }

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                gap: 40px;
            }
        }

        &__title {
            font-size: 1.4em;
            
            h1 {
                text-transform: uppercase;
                text-align: center;
                color: $color-white;
                letter-spacing: 0.2em;
            }
        }

        &__arrow {
            @include containerFluid;

            img {
                width: 10%;
                margin-inline: auto;

                @include setResponsiveDesign($breakpoint-mobile) {
                    width: 8%;
                }

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    width: 4%;
                }
            }
        }
    }
}