@include theme() {
    &header {
        @include absoluteFull;
        @include flex(space-between);
        z-index: 2;
        padding: 20px;

        &__logo {
            h1 {
                display: none;
            }
        }

        &__navigation {
            @include relative;

            &-icon {
                font-size: 1.8em;
                color: $color-white;
                cursor: pointer;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    display: none;
                }
            }
        }

        &__menu {
            @include absolute(calc(100% + 60px), unset);
            right: 0;
            width: calc(100vw - 40px);
            max-width: 400px;
            background-color: $color-white;
            text-align: center;
            padding-block: 15px;
            transform: translateY(-15%);
            visibility: hidden;
            opacity: 0;
            @include transition;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                width: auto;
                max-width: none;
                position: static;
                background: none;
                visibility: visible !important;
                opacity: 1 !important;
                @include flex;
                column-gap: 40px;
                padding: 0;
            }

            &::before {
                content: "";
                @include absolute(-40px, unset);
                right: 0;
                width: 40px;
                height: 40px;
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
                background-color: $color-white;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    display: none;
                }
            }

            &.open {
                transform: none;
                visibility: visible;
                opacity: 1;
            }

            &-item {
                margin-block: 30px;
                font-size: 1.1em;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    margin: 0;
                }

                a {
                    color: $color-dark-grayish-blue;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        color: $color-white;
                    }
                }
            }

            &-button {
                font-family: $font-fraunces;
                color: $color-very-dark-desatured-blue !important;
                text-transform: uppercase;
                font-size: 0.8em;
                display: inline-block;
                padding: 20px 30px;
                background-color: $color-yellow;
                @include borderRadius(30px);

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    background-color: $color-white;
                }

                &:hover {
                    background-color: $color-blue-hover;
                    color: $color-white !important;
                }
            }
        }
    }
}