.main_headline {
    position: relative;
    z-index: 1;

    &_content {
        @include absoluteFull;
        height: 100%;

        @include flex;
        flex-direction: column;
        gap: 70px;

        padding: 0 20px;

        @include setResponsiveDesign(340px, false) {
            padding: 0 8px;
        }

        &_title {
            font-size: 1.4em;
            text-transform: uppercase;
            text-align: center;

            h1 {
                color: $color-white;
                letter-spacing: 0.2em;
            }
        }

        &_arrowimage {
            width: 10%;
        }
    }
}