// FONTS
@mixin setFonts($fontList: $fonts) {
    @each $presets in $fontList {

        $weight: ();
        $family: ();
        $files:  ();
        $path:   ();
        $format: ();
    
        @each $attr, $values in $presets {
    
            @if $attr == "weights" {
                @for $w from 1 through length($list: $values) {
                    $weight: append($list: $weight, $val: nth($list: $values, $n: $w), $separator: comma);
                }
            }
    
            @if $attr == "family" {
                @for $f from 1 through length($list: $weight) {
                    $family: append($list: $family, $val: $values, $separator: comma);
                }
            }
    
            @if $attr == "files" {
                @for $fl from 1 through length($list: $weight) {
                    $files: append($list: $files, $val: nth($list: $values, $n: $fl), $separator: comma);
                }
            }
    
            @if $attr == "path" {
                @for $p from 1 through length($list: $weight) {
                    $path: append($list: $path, $val: "#{$font-path}/#{$values}/#{nth($list: $files, $n: $p)}", $separator: comma);
                }
            }
    
            @if $attr == "format" {
                @for $fm from 1 through length($list: $weight) {
                    $format: append($list: $format, $val: $values, $separator: comma);
                }
            }
        }
    
        @for $font from 1 through length($list: $weight) {
            @font-face {
                font-family: nth($list: $family, $n: $font);
                src: url(nth($list: $path, $n: $font)) format(nth($list: $format, $n: $font));
                font-weight: nth($list: $weight, $n: $font);
            }
        }
    }
}

// BROWSER CORES ATTRIBUTES
@mixin setBrowserCores($attr, $value, $cores: $browser-cores) {
    #{$attr}: #{$value};

    @each $core in $cores {
        -#{$core}-#{$attr}: #{$value};
    }
}

@mixin boxSizing($value: border-box) {
    @include setBrowserCores(box-sizing, $value);
}

@mixin borderRadius($radius) {
    @include setBrowserCores(border-radius, $radius);
}

@mixin rounded() {
    @include borderRadius(50%);
}

// FLEXBOX
@mixin flex($justifyContent: center, $alignItems: center, $flexWrap: wrap) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin flexBasis($basis, $gap: 0) {
    @if $gap == 0 {
        flex-basis: $basis;
    }

    @else {
        flex-basis: calc($basis - $gap);
    }
}

@mixin flex1($gap: 0) {
    @include flexBasis(100%, $gap);
}

@mixin flex2($gap: 0) {
    @include flexBasis(50%, $gap);
}

@mixin flex3($gap: 0) {
    @include flexBasis(33.33%, $gap);
}

@mixin flex4($gap: 0) {
    @include flexBasis(25%, $gap);
}

// POSITION ABSOLUTE
@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absoluteFull($top: 0, $left: 0) {
    @include absolute($top, $left);
    width: 100%;
}

// TRANSITION
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease, $delay: 0s) {
    transition: $property $duration $timing-function $delay;
}