.main_services {
    @include flex;

    &_service {
        @include flex1;
        position: relative;

        @include setResponsiveDesign(720px) {
            @include flex2;
        }

        &_info {
            @include absoluteFull(unset);
            bottom: 0;
            padding: {
                top: 0;
                right: 20px;
                bottom: 60px;
                left: 20px;
            }

            text-align: center;

            @include setResponsiveDesign(720px) {
                padding-bottom: 20px;
            }

            @include setResponsiveDesign(1024px) {
                padding-bottom: 40px;
            }

            @include setResponsiveDesign(1200px) {
                padding-bottom: 60px;
            }

            &_title {
                margin-bottom: 30px;

                @include setResponsiveDesign(720px) {
                    width: 360px;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }

                @include setResponsiveDesign(1200px) {
                    max-width: 500px;
                }

                h1 {
                    font-size: 1.6em;
                }

                &.service1_info_title {
                    h1 {
                        color: $color-dark-desatured-cyan-text;
                    }
                }

                &.service2_info_title {
                    h1 {
                        color: $color-dark-blue-text;
                    }
                }
            }

            &_text {
                font-size: 0.9em;
                line-height: 1.6em;

                @include setResponsiveDesign(720px) {
                    max-width: 360px;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }

                @include setResponsiveDesign(1200px) {
                    max-width: 500px;
                }

                &.service1_info_text {
                    color: $color-dark-desatured-cyan-text;
                }

                &.service2_info_text {
                    color: $color-dark-blue-text;
                }
            }
        }
    }
}