@include theme() {
    &services {
        @include containerFluid;
        @include flex(flex-start, stretch);

        &__item {
            @include flex1;

            @include setResponsiveDesign($breakpoint-tablet) {
                @include flex2;
            }

            &.green {
                color: $color-dark-desatured-cyan-text;
            }

            &.blue {
                color: $color-dark-blue-text;
            }

            &-info {
                @include flex(flex-end);
                @include column;
                padding-inline: 20px;
                padding-bottom: 60px;
                text-align: center;

                @include setResponsiveDesign($breakpoint-tablet) {
                    padding-bottom: 20px;
                }

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    padding-bottom: 40px;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    padding-bottom: 60px;
                }
            }

            &-title {
                margin-bottom: 30px;

                @include setResponsiveDesign($breakpoint-tablet) {
                    max-width: 360px;
                    margin-inline: auto;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    max-width: 500px;
                }

                h1 {
                    font-size: 1.6em;
                    color: currentColor;
                }
            }

            &-text {
                font-size: 0.9em;
                color: currentColor;

                @include setResponsiveDesign($breakpoint-tablet) {
                    max-width: 360px;
                    margin-inline: auto;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    max-width: 500px;
                    font-size: 1em;
                }
            }
        }
    }
}